*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   background: black; 
   color: white;   
   background-color: #050818;
   background-color: #050818;
   font-family: 'Oswald', sans-serif;
   background-color: #000000;
   background-color: #000b0d;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23a52502' fill-opacity='0.5'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/*Navegacion NAVIGATOR*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 70px;
}
 /*Navegacion Izq Left*/
 .nav-main ul{
     display: flex;
 }
 .nav-main ul li{
     padding: 10px;
 }
 .nav-mainul li a{
     padding: 2px;
 }
 .nav-main ul li a:hover{
     border-bottom: 2px solid #ffffff;
 }
 .nav-main ul.nav-menu{
     flex: 1;
     margin-left: 20px;
 }
 /*ShowCase*/
 hr{
     margin: 10px 0;
 }
 .showcase{
     width: 100%;
     height: 550px;
     background:url(./img/desarrollo.jpg) no-repeat center center/cover;
     padding: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
     margin-bottom: 20px;
 }
 .btn{
     cursor: pointer;
     display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffff;
    margin: 10px 0;
 }
 .btn :hover{
     opacity: .7;
 }
 .showcase h2, p{
     margin-bottom: 10px;
 }
 /*News Cards*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}
.news-cards img{
    width: 100%;
    height: 180px;
}
.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards a:hover{
    text-decoration: underline;
}
/*Cards Banner One*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(./img/banner2.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
}
.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #050818;
}
.cards-banner-one p, h2{
    margin: 10px 0 20px 0;
    box-shadow: #000000;
}
.cards-banner-one img{
    width: 100%;
    height: 150px;
}
/*Cards Banner two*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url(./img/banner3.jpg)no-repeat center center/cover;
    margin-bottom: 40px;
}
.cards-banner-two .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}
.cards-banner-two p, h2{
    margin: 10px 0 20px 0;
    box-shadow: #000000;
}
.cards-banner-two img{
    width: 100%;
    height: 150px;
}
/*Socual*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}
/*footer Links*/
.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 2.8;
}
.fooder{
    background: #2f3640;
    color: #616161;
    font-family: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}
@media(max-width: 700px){
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        transform: translateX(-20px);
        opacity: 0.9;
        padding: 30px;
    }
    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content{
        width: 80%;
    }
    .cards-banner-two .content{
        width: 80%;
    }
    .footer-links .container{
        grid-template-columns: repeat(2, 1fr);
    }
}